button {
  padding: 10px 12px 10px 12px;
  text-align: center;
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  white-space: nowrap; }
  button.inverted {
    background: #fff;
    color: #333; }
  button.default {
    background: #f5f5f5;
    border: 1px solid #e0e0e0;
    color: #333; }
    button.default:hover {
      background: #e9e9e9;
      border: 1px solid #ccc; }
  button.primary {
    background: #219E69;
    border: 1px solid #219E69; }
    button.primary:hover {
      background: #145f3f; }

.icon-button {
  cursor: pointer; }
  .icon-button.primary {
    color: #219E69; }
  .icon-button:hover {
    color: #000; }

input[type='text'], input[type='email'], input[type='password'] {
  padding: 10px 0 11px 10px;
  border: 1px solid #ccc;
  border-radius: 5px; }
  input[type='text'].label-connect, input[type='email'].label-connect, input[type='password'].label-connect {
    border-radius: 0 5px 5px 0; }

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  text-align: left;
  color: #555;
  padding: 10px;
  border-radius: 5px;
  padding-right: 25px;
  border: 1px solid #e0e0e0;
  background-color: #f5f5f5;
  background-image: url(../images/caret-down.png);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 18px; }
  select:hover {
    background-color: #e9e9e9;
    border: 1px solid #ccc; }

label.input-connect {
  padding: 9px 10px 10px 10px;
  background: #F5F5F5;
  border-radius: 5px 0 0 5px;
  border: 1px solid #e0e0e0;
  float: left; }

.icon-input {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  height: 39px; }
  .icon-input input {
    border: 0;
    width: 100%;
    padding-left: 30px;
    float: left; }
  .icon-input i {
    width: 0px;
    padding-left: 0px;
    margin-top: 12px;
    float: left;
    position: relative; }
    .icon-input i:before {
      margin-left: 10px; }
  .icon-input.label-connect {
    border-radius: 0 5px 5px 0;
    border-left: 0; }

.at-input input {
  padding-left: 15px;
  width: calc(100% - 7px); }
.at-input span {
  width: 0px;
  padding-left: 0px;
  position: relative;
  font-size: 15px;
  float: left;
  display: inline-block;
  margin-top: 7px;
  margin-left: 7px; }

.column-form h1 {
  margin-left: 165px; }
.column-form > label, .column-form fieldset > label {
  width: 150px;
  margin-right: 15px;
  float: left;
  text-align: right;
  padding: 8px;
  color: #bbb; }
.column-form input[type='text'], .column-form input[type='email'], .column-form input[type='password'], .column-form .icon-input {
  width: calc(100% - 290px);
  float: left;
  margin-bottom: 15px; }
.column-form .icon-input input {
  width: 498px; }
.column-form fieldset {
  border: 0;
  padding: 10px 0 10px 0;
  margin-left: 0; }
  .column-form fieldset > label {
    margin-right: 10px; }

.ngdialog-theme-feedeo .ngdialog-content {
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  width: 1000px;
  height: 100%;
  overflow: hidden;
  /*
  header {
      background: $light-grey;
      height: 60px;
      a {
          display: inline-block;
          float: left;
          padding: $size-large;
          color: $font-light;
          cursor: pointer;
          &.active {
              background: #fff;
              color: #444;
          }
      }
  }
  */ }
  .ngdialog-theme-feedeo .ngdialog-content main {
    padding: 30px;
    overflow: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%; }
    .ngdialog-theme-feedeo .ngdialog-content main.has-tab-bar {
      top: 60px; }
    .ngdialog-theme-feedeo .ngdialog-content main.has-footer {
      bottom: 63px; }
    .ngdialog-theme-feedeo .ngdialog-content main.no-padding {
      padding: 0; }
    .ngdialog-theme-feedeo .ngdialog-content main header {
      margin: 30px 30px 0 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid #e0e0e0;
      border-radius: 5px 5px 0 0; }
  .ngdialog-theme-feedeo .ngdialog-content footer {
    margin: 0 30px 30px 30px;
    padding-top: 30px;
    border-top: 1px solid #e0e0e0;
    /*
    height: 63px;
    border-top: 1px solid $border-color;
    padding: $size-medium;
    background: #f5f5f5;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 0 0 $border-radius $border-radius;
    */ }

nav {
  height: 100%;
  background: #36393e;
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  bottom: 0; }
  nav a {
    display: block;
    padding: 20px 15px;
    color: #fff;
    text-decoration: none;
    font-size: 14px; }
    nav a.active {
      background: #222; }
    nav a i {
      margin-right: 5px; }
    nav a div {
      text-align: left;
      padding: 7px 10px;
      background: #13794E;
      border-radius: 5px; }
      nav a div i {
        float: right;
        margin-top: 3px; }
      nav a div span {
        width: 95px;
        overflow: hidden;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: top; }
    nav a:first-of-type {
      height: 72px;
      padding: 15px; }
  nav img {
    width: 130px; }
  nav select {
    margin: 15px;
    color: #fff;
    border: 0;
    width: 130px;
    background: #13794E;
    background-image: url(../images/caret-down-white.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 18px; }
    nav select:hover {
      background-color: #106340;
      border: 0; }

body > main {
  position: absolute;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 160px;
  overflow: auto; }
  body > main header {
    height: 72px;
    background: #f5f5f5;
    padding: 17px 30px;
    border-bottom: 1px solid #e0e0e0; }
    body > main header h1 {
      margin-top: 2px; }
    body > main header select {
      background-color: #fff; }
  body > main section {
    padding: 30px; }

.platta {
  min-width: 40%;
  display: inline-block;
  margin: 15px;
  float: left;
  background: #f5f5f5;
  padding: 15px;
  border-radius: 5px;
  text-align: center; }
  .platta:last-of-type {
    margin-right: 0; }
  .platta.highlight {
    background: #fbc02d; }

.box.third {
  width: calc(33.3333% - $size-medium);
  margin-right: 15px;
  background: #f5f5f5;
  padding: 15px;
  border-radius: 5px; }
  .box.third:last-of-type {
    margin-right: 0; }

.alert {
  width: 80%;
  display: inline-block;
  margin: 15px auto;
  background: #fbc02d;
  border: 1px solid #555;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  font-size: 16px; }

.tab-bar {
  height: 72px;
  background: #f5f5f5;
  border-bottom: 1px solid #ccc;
  padding: 15px 30px 0 30px; }
  .tab-bar .tab {
    display: block;
    float: left;
    height: 56px;
    padding: 20px;
    border-top: 1px solid #e9e9e9;
    border-left: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    border-radius: 5px 5px 0 0;
    background: #e9e9e9;
    cursor: pointer;
    font-weight: 600;
    color: #888; }
    .tab-bar .tab:hover {
      background: #e0e0e0; }
    .tab-bar .tab.active {
      height: 57px;
      background: #fff;
      color: #333;
      border-top: 1px solid #ccc;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc; }

#backdrop {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 999999998; }

.local-modal {
  position: absolute;
  display: none;
  z-index: 999999999;
  background-color: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  overflow: hidden;
  font-size: 0px;
  border-radius: 5px;
  width: 0;
  height: 0; }

.list-body {
  position: absolute;
  top: 72px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto; }

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px; }
  table.disabled th, table.disabled td {
    opacity: 0.3; }
  table.disabled button {
    background: #222; }
  table tr:nth-child(even) {
    background: #f5f5f5; }
  table tr:hover .icon-button {
    opacity: 1; }
  table tr.active {
    background: #60A2D8; }
    table tr.active td, table tr.active td .fa {
      color: #fff;
      opacity: 1; }
  table tr th, table tr td {
    text-align: left;
    padding: 10px 15px;
    height: 50px;
    font-size: 13px; }
    table tr th:not(:last-child), table tr td:not(:last-child) {
      padding-right: 0; }
    table tr th button, table tr td button {
      margin: -9px 0px; }
    table tr th .icon-button, table tr td .icon-button {
      width: 20px;
      text-align: center;
      margin-top: 3px;
      font-size: 14px; }
    table tr th.border-right, table tr td.border-right {
      border-right: 1px solid #e0e0e0; }
  table tr th {
    color: #bbb;
    font-weight: 500;
    border-bottom: 1px solid #e0e0e0; }
    table tr th:first-child {
      color: #555;
      font-weight: 600; }
    table tr th .button {
      border-bottom: 1px solid #235681; }
    table tr th input[type='search'] {
      border-radius: 50px;
      padding: 5px;
      border: 1px solid #ccc;
      margin-top: -5px;
      margin-bottom: -5px; }
  table tr td:first-child {
    font-weight: 600; }
  table tr td.no-items {
    height: 100px;
    font-style: italic;
    text-align: center; }
  table tr td .icon-button {
    opacity: 1; }
  table tr td i {
    color: #ccc; }
  table tr td .fa-check {
    color: #219E69; }
  table tr td .fa-trash {
    color: #ccc; }
  table tr td .fa-edit {
    margin-top: 1px;
    margin-right: 7px;
    vertical-align: top;
    color: #4495DA; }
  table tr td p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  table tfoot td {
    border-top: 1px solid #e0e0e0;
    font-weight: 600;
    background: #F5F5F5;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05) inset;
    font-weight: 600; }
    table tfoot td .icon-space {
      display: inline-block;
      width: 25px; }

*, *:before, *:after {
  box-sizing: inherit; }

* {
  font-size: 13px; }

html {
  box-sizing: border-box; }
  html body {
    margin: 0;
    padding: 0;
    font-family: Tahoma;
    font-size: 13px;
    color: #555; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

h1 {
  font-size: 22px;
  margin-bottom: 30px;
  font-weight: normal; }

h2 {
  font-size: 16px; }

h3 {
  color: #888; }

a {
  text-decoration: none;
  color: #60A2D8; }

ul {
  padding: 0; }

hr {
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 0 30px 0 30px; }

.padding-tiny {
  padding: 5px !important; }

.padding-small {
  padding: 10px !important; }

.padding {
  padding: 15px !important; }

.padding-large {
  padding: 20px !important; }

.padding-huge {
  padding: 30px !important; }

.margin {
  margin: 15px !important; }

.margin-bottom-tiny {
  margin-bottom: 5px !important; }

.margin-bottom-small {
  margin-bottom: 10px !important; }

.margin-bottom {
  margin-bottom: 15px !important; }

.margin-bottom-large {
  margin-bottom: 20px !important; }

.margin-bottom-huge {
  margin-bottom: 30px !important; }

.margin-top-tiny {
  margin-top: 5px !important; }

.margin-top-small {
  margin-top: 10px !important; }

.margin-top {
  margin-top: 15px !important; }

.margin-top-large {
  margin-top: 20px !important; }

.margin-top-huge {
  margin-top: 30px !important; }

.margin-bottom-zero {
  margin-bottom: 0 !important; }

.margin-bottom-tiny {
  margin-bottom: 5px !important; }

.margin-bottom-small {
  margin-bottom: 10px !important; }

.margin-bottom {
  margin-bottom: 15px !important; }

.margin-bottom-large {
  margin-bottom: 20px !important; }

.margin-bottom-huge {
  margin-bottom: 30px !important; }

.margin-left-tiny {
  margin-left: 5px !important; }

.margin-left-small {
  margin-left: 10px !important; }

.margin-left {
  margin-left: 15px !important; }

.margin-left-large {
  margin-left: 20px !important; }

.margin-left-huge {
  margin-left: 30px !important; }

.margin-right-tiny {
  margin-right: 5px !important; }

.margin-right-small {
  margin-right: 10px !important; }

.margin-right {
  margin-right: 15px !important; }

.margin-right-large {
  margin-right: 20px !important; }

.margin-right-huge {
  margin-right: 30px !important; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.clear {
  clear: both;
  display: block; }

.align-right {
  text-align: right; }

.align-center {
  text-align: center; }

.font-green {
  color: #219E69; }

.font-green-strong {
  color: #05C171; }

.font-light {
  color: #888; }

.font-very-light {
  color: #bbb; }

.font-large {
  font-size: 16px; }

.cursor-pointer {
  cursor: pointer; }

.cursor-help {
  cursor: help; }

.bg-green {
  background: #219E69; }

@keyframes fade {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.3; }
  100% {
    opacity: 1; } }
.fade {
  -webkit-animation: fade 1500ms infinite linear;
  animation: fade 1500ms infinite linear; }

.fade-item {
  transition: opacity 1s; }

.hidden {
  overflow: hidden;
  opacity: 0;
  width: 0;
  height: 0;
  padding: 0; }

.bar-graph {
  width: 100%;
  text-align: center; }
  .bar-graph tr.selected div.bar {
    background: #2a5c78; }
  .bar-graph tr.selected .bar-profiles, .bar-graph tr.selected .bar-following {
    color: #000; }
  .bar-graph tr.selected button {
    background: #163140; }
  .bar-graph tr th {
    border-bottom: 0; }
  .bar-graph tr td {
    margin-bottom: 1px;
    height: auto;
    padding: 0;
    padding-bottom: 1px; }
    .bar-graph tr td i {
      color: #888; }
    .bar-graph tr td div.bar {
      background: #3E88B1;
      border-radius: 4px;
      padding: 0 1px;
      color: #333;
      float: left;
      overflow: visible;
      height: 38px;
      max-width: 100%; }
      .bar-graph tr td div.bar img {
        height: 100%;
        float: right;
        margin-right: 30px; }
    .bar-graph tr td .refresh-populate {
      margin: 12px;
      float: left; }
    .bar-graph tr td.bar-profiles {
      padding: 10px;
      text-align: right; }
      .bar-graph tr td.bar-profiles i {
        margin-left: 3px; }
    .bar-graph tr td.bar-following {
      padding: 10px 15px;
      text-align: left; }
    .bar-graph tr td button {
      float: left;
      margin-right: 1px;
      background: #2a5c78;
      border-color: #2a5c78;
      width: 100px; }
      .bar-graph tr td button:hover {
        background: #163140; }

.congregation-grid {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  background: #fff; }
  .congregation-grid.minimized {
    top: calc(100% - 66px);
    left: calc(100% - 90px);
    background: rgba(255, 255, 255, 0.3); }
  .congregation-grid .toolbar {
    height: 67px;
    padding: 15px;
    border-bottom: 1px solid #e0e0e0 !important; }
  .congregation-grid .table {
    height: calc(100% - 67px); }

.ui-grid {
  border: 0px solid #e0e0e0 !important; }
  .ui-grid .ui-grid-top-panel {
    background: #fff;
    border-bottom: 1px solid #e0e0e0; }
  .ui-grid .ui-grid-header-cell, .ui-grid .ui-grid-cell {
    padding: 10px !important; }
    .ui-grid .ui-grid-header-cell .ui-grid-cell-contents, .ui-grid .ui-grid-cell .ui-grid-cell-contents {
      padding: 0 !important; }
  .ui-grid .ui-grid-header-cell {
    color: #bbb !important;
    font-weight: 500 !important;
    font-size: 13px !important; }
    .ui-grid .ui-grid-header-cell .ui-grid-filter-container {
      padding: 0 !important; }
      .ui-grid .ui-grid-header-cell .ui-grid-filter-container input {
        padding: 5px !important;
        margin-top: 5px !important; }
  .ui-grid .ui-grid-row .ui-grid-cell {
    height: 40px !important; }
  .ui-grid .ui-grid-row:nth-child(even) .ui-grid-cell {
    background: #f5f5f5 !important; }

.select2-container .select2-choice {
  height: 40px !important;
  background: #fff !important;
  padding: 6px 0 6px 10px !important;
  border: 1px solid #ccc !important; }
.select2-container .ui-select-toggle {
  width: 20px !important;
  text-align: center !important;
  padding-top: 5px !important; }

/*# sourceMappingURL=main.css.map */
