nav {
    height: 100%;
    background: #36393e;
    position: absolute;
    top: 0;
    left: 0;
    width: $nav-width;
    bottom: 0;
	a {
		display: block;
		padding: $size-large $size-medium;
		color: #fff;
		text-decoration: none;
		font-size: 14px;
        &.active {
            background: #222;
            //color: #444;
        }
		i { margin-right: 5px; }
        div {
            text-align: left;
            padding: 7px 10px;
            background: #13794E;
            border-radius: $border-radius;
            i {
                float: right;
                margin-top: 3px;
            }
            span {
                width: $nav-width - 65px;
                overflow: hidden;
                display: inline-block;
                text-overflow: ellipsis;
                white-space: nowrap;
                vertical-align: top;
            }
        }
        &:first-of-type {
            height: $size-list-header-height;
            padding: $size-medium;
            //border-bottom: 1px solid #228D60;
        }
	}
	img {
        width: 130px;
        //margin: 16px 15px 16px 15px;
	}
    select {
		margin: $size-medium;
        color: #fff;
        border: 0;
        width: 130px;
        background: #13794E;
        background-image: url(../images/caret-down-white.png);
        background-repeat: no-repeat;
        background-position: center right;
        background-size: 18px;
        &:hover {
            background-color: darken(#13794E, 5%);
            border: 0;
        }
    }
}

body > main {
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0;
    left: $nav-width;
    overflow: auto;
    header {
        height: $size-list-header-height;
        background: #f5f5f5;
        padding: 17px 30px;
        border-bottom: 1px solid $border-color-light;
        h1 { margin-top: 2px; }
        select { background-color: #fff; }
    }
    section {
        padding: $size-huge;
        padding-top: $size-medium;
    }
}

.platta {
    min-width: 40%;
    display: inline-block;
    margin: 0 $size-huge $size-huge 0;
    float: left;
    background: $very-light-grey;
    padding: $size_medium;
    border-radius: $border-radius;
    text-align: center;
    &:last-of-type { margin-right: 0; }
    &.highlight {
        background: #fbc02d;
    }
}

.box {
    &.third {
        width: calc(33.3333% - $size-medium);
        margin-right: $size-medium;
        background: #f5f5f5;
        padding: $size_medium;
        border-radius: $border-radius;
        &:last-of-type { margin-right: 0; }
    }
}

.alert {
    width: 80%;
    display: inline-block;
    margin: $size-medium auto;
    background: #fbc02d;
    border: 1px solid $dark-grey;
    padding: $size_medium;
    border-radius: $border-radius;
    text-align: center;
    font-size: $size-font-large;
}

.tab-bar {
    height: 72px;
    background: #f5f5f5;
    border-bottom: 1px solid $border-color;
    padding: $size-medium $size-huge 0 $size-huge;
    .tab {
        display: block;
        float: left;
        height: 56px;
        padding: $size-large;
        border-top: 1px solid #e9e9e9;
        border-left: 1px solid #e9e9e9;
        border-right: 1px solid #e9e9e9;
        border-radius: $border-radius $border-radius 0 0;
        background: #e9e9e9;
        cursor: pointer;
        font-weight: 600;
        color: $font-light;
        &:hover {
            background: #e0e0e0;
        }
        &.active {
            height: 57px;
            background: #fff;
            color: #333;
            border-top: 1px solid $border-color;
            border-left: 1px solid $border-color;
            border-right: 1px solid $border-color;
        }
    }
}
            
#backdrop {
    position: fixed; top: 0px; right: 0px; bottom: 0px; left: 0px; z-index: 999999998;
}
.local-modal {
	position: absolute;
	display: none;
	z-index: 999999999;
	background-color: #ffffff;
	box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
	transition: 0.3s;
	overflow: hidden;
	font-size: 0px;
	border-radius: $border-radius;
	width: 0;
	height: 0;
}