<section>
            <div class='platta highlight'>
                <span style="font-size: 5em">{{powerConsumption.effect}} W</span>
                <h2>Effekt just nu</h2>
            </div>
            <div class='platta'>
                <span style="font-size: 5em">{{powerConsumption.today | number: 2}} kWh</span>
                <h2>Idag</h2>
            </div>
            <div class='platta'>
                <span style="font-size: 5em">{{powerConsumption.month | number: 0}} kWh</span>
                <h2>Denna månad</h2>
            </div>
            <div class='platta'>
                <span style="font-size: 5em">{{powerConsumption.money | number : 0}} SEK</span>
                <h2>Månadskostnad</h2>
            </div>
            
</section>
<div class="hr" style="clear:both"/>
<section>
<div>
    <div>
        <button ng-class="{'primary': 'minute' == timeline, 'default': timeline != 'minute'}" ng-click='getLast60MinutesTimeline()'>
        <i class='fa fa-spinner fa-spin' ng-if='timeline == "minute"'></i>
            Senaste timman</button>
        <button ng-class="{'primary': 'today' == timeline, 'default': timeline != 'today'}" ng-click='getTodayTimeline()'>Idag</button>
        <button ng-class="{'primary': '7days' == timeline, 'default': timeline != '7days'}" ng-click='getLast7DaysTimeline()'>Senaste 7 dagarna</button>
        <button ng-class="{'primary': '30days' == timeline, 'default': timeline != '30days'}" ng-click='getLast30DaysTimeline()'>Senaste 30 dagarna</button>
    </div>

    <span class="alert" ng-if="data[0].length == 0">No data could be found for this period</span>
<canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series" chart-legend="true" height="100px">
    
</canvas>
</div>
</section>
<section>
    <table class='margin-top-large margin-bottom-large'>
        <tr>
            <th>
                <i class='fa fa-refresh icon-button primary float-left margin-right-small'
                   ng-class='{"fa-spin":allProfilesRefreshing}'
                   ng-click='refreshAllProfiles(loadedProfiles)'></i>
                Date
            </th>
            <th class='border-right'>
                Average power (kWh)
            </th>
            <th>
                <i class='fa fa-refresh icon-button primary float-left margin-right-small'
                   ng-class='{"fa-spin":allProfilesFollowersRefreshing}'
                   ng-click='updateFollowersForAllProfile()'></i>
                Energy
            </th>
        </tr>
        <tr ng-if='profiles.all.length == 0'>
            <td colspan='3' class='no-items'>
                Välj ett annat datum
            </td>
        </tr>
        <tr ng-repeat='profile in profiles.all'>
            <td>
                <i class='fa fa-refresh icon-button primary float-left margin-right-small'

                ng-class='{"fa-spin":profile.refreshing}'
                ng-click='refreshProfile(profile)'></i>
                @{{ profile.tw_screen_name }}
            </td>
            <td>{{ profile.name }}</td>
            <td class='border-right'>
                <span ng-if='!profile.refreshing'>{{profile.profile_updated | date:'yyyy-MM-dd'}}</span>
                <span ng-if='profile.refreshing' class='fade'>Refreshing...</span>
            </td>
        </tr>
        <tfoot>
            <tr class=''>
                <td>{{ profiles.all.length }} profiles</td>
                <td></td>
                <td class='border-right'></td>
            </tr>
        </tfoot>
    </table>
